/* @font-face {
  font-family: 'Font-Name';
  src: url('./assets/FONT_FILE.ttf') format('truetype');
} */

* {
  box-sizing: border-box;
}

body, h1, h2, h3, p {
  margin: 0;
}

a, a:focus, a:active {
  text-decoration: none;
}
