* {
  box-sizing: border-box;
}

::-moz-selection {
  background-color: rgba(255, 255, 255, 0.99) !important;
}

::selection {
  background-color: rgba(255, 255, 255, 0.99) !important;
}

#bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999999999;
  pointer-events: none;
  background: radial-gradient(60% 43.9% at 50% 50%, #41E8DE 0%, #FFB72D 100%);
}

html {
  padding: 50px;
  scroll-behavior: smooth;
}

body, h1, h2, h3, p {
  color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 9rem;
  font-weight: normal;
}

header {
  height: 65vh;
}

@media only screen and (max-width: 992px) {
  html {
    padding: 30px;
  }

  h1 {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 767px) {
  html {
    padding: 15px;
    margin-bottom: 50px;
  }

  body {
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    margin-top: 100px;
  }

  header {
    height: 30vh;
  }
}

h1 span {
  display: block;
}

a, a:focus, a:active {
  color: #fff;
  text-decoration: none;
  border-bottom: 3px solid #fff;
}

@media only screen and (max-width: 767px) {
  a, a:focus, a:active {
    border-bottom-width: 2px;
  }
}

nav {
  font-size: 2rem;
}

@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 30px 0;
    z-index: 9999;
  }

  nav.stop {
    background: radial-gradient(60vw 43.9vh at 50vw 50vh, #41E8DE 0%, #FFB72D 100%);
    background-size: cover;
  }
}

nav ul, nav ul li {
  display: inline;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 30px;
}

@media only screen and (max-width: 767px) {
  /* update for hamburger maybe */
  nav {
    font-size: 1rem;
  }

  nav ul li {
    margin: 10px;
  }
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li:last-child {
  margin-right: 0;
}

.content {
  margin-top: 30px;
  font-size: 4rem;
  min-height: 78vh;
}

@media only screen and (max-width: 767px) {
  .content {
    font-size: 2.5rem;
  }
}

p {
  margin: 2rem 0;
  cursor: e-resize;
}

body.secret .content p {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

body.secret .content p:hover {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  ms-filter: none;
  filter: none;
}

.menu::after {
  content: '下';
}

body.secret .menu::after {
  content: '上';
}

.content {
  display: block !important;
}

#secret.content {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .content {
    display: none !important;
  }

  #secret.content {
    display: block !important;
  }
}
