* {
  box-sizing: border-box;
}

html {
  background-color: #FFB72D;
}

.loading {
  opacity: 0;
}

::-moz-selection {
  background-color: rgba(255, 255, 255, 0.99) !important;
}

::selection {
  background-color: rgba(255, 255, 255, 0.99) !important;
}

#bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999999999;
  pointer-events: none;
  background: radial-gradient(60% 43.9% at 50% 50%, #41E8DE 0%, #FFB72D 100%);
  transition: 0.8s opacity linear;
}

html {
  padding: 50px;
  scroll-behavior: smooth;
}

main {
  transition: 0.7s opacity linear;
}

body, h1, h2, h3, p {
  color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 9rem;
  font-weight: normal;
}

header {
  height: 65vh;
}

@media only screen and (max-width: 992px) {
  html {
    padding: 30px;
  }

  h1 {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 767px) {
  html {
    padding: 15px;
  }

  body {
    text-align: center;
    margin-bottom: 100px;
  }

  h1 {
    font-size: 3rem;
    margin-top: 100px;
  }

  header {
    height: 30vh;
  }
}

h1 span {
  display: block;
}

a, a:focus, a:active {
  color: #fff;
  text-decoration: none;
  border-bottom: 3px solid #fff;
}

@media only screen and (max-width: 767px) {
  a, a:focus, a:active {
    border-bottom-width: 2px;
  }
}

nav {
  font-size: 2rem;
}

@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 30px 0;
    z-index: 9999;
  }
}

nav ul, nav ul li {
  display: inline;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 30px;
}

@media only screen and (max-width: 767px) {
  nav {
    font-size: 1rem;
    background: transparent !important;
  }

  nav ul li {
    margin: 10px;
  }
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li:last-child {
  margin-right: 0;
}

.content {
  margin-top: 30px;
  font-size: 4rem;
  min-height: 78vh;
}

@media only screen and (max-width: 767px) {
  .content {
    font-size: 2.5rem;
    min-height: 0;
    margin-bottom: 100px;
  }
}

.list-item {
  margin: 2rem 0;
  cursor: e-resize;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  div.content p {
    margin: 3rem 0;
  }
}

p:hover img {
  /* display: inline; */
  opacity: 1;
  transition: 0.1s opacity linear;
}

.gallery {
  display: flex;
  align-items: center;
}

.gallery img {
  width: auto;
  height: 3.5rem;
  /* opacity: 0; */
  transition: 0.1s opacity linear;
  margin: 0 1rem;
  cursor: not-allowed;
}

.gallery img:last-child {
  margin-right: 0;
}

.gallery img:first-child {
  margin-left: 3rem;
}

body.secret section.content > p,
body.secret div.content .list-item {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

body.secret section.content > p:hover,
body.secret .content .list-item:hover {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  ms-filter: none;
  filter: none;
}

.menu::after {
  content: '下';
}

body.secret .menu::after {
  content: '上';
}

div.content {
  display: block !important;
}

section.content {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  div.content {
    display: none !important;
  }

  section.content {
    display: block !important;
  }

  section.content p {
    margin: 1.5rem;
  }
}
